
.fontSize12 {
  font-size : 12px;
}

.customFooterWidth {
  width : 210px !important;
}

.logoFooterImageStyle {
  display : block;
  max-width : 100%;
  height : 34px;
}

.listItems li {
  display : inline-block;
  font-size : 13px;
  color : #888;
  padding : 4px;
}

.footerPadding {
  padding : 40px;
}

.footerIconStyle {
  color : #888;
  font-size : 12px;
  cursor : pointer;
}